/* base.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f4f5fa;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

button {
    cursor: pointer;
}

